 <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <h3>
		  FLA Project by :
		</h3>
      <footer class="blockquote-footer text-white">
        <small>
         <cite title="Source Title">Kashish ,Akash ,Aakriti, Rohit, Ashwin</cite>
        </small>
      </footer>
    </blockquote>
  </div> 
</body>
</html>