<%- include("partials/header") %>

<div class="container-fluid">
	<h1 class="text-center display-3">
		Finite Automata
	</h1>
	<p>Finite Automata(FA) is the simplest machine to recognize patterns.The finite automata or finite state machine is an abstract machine which have five elements or tuple. It has a set of states and rules for moving from one state to another but it depends upon the applied input symbol. Basically it is an abstract model of digital computer. Following figure shows some essential features of a general automation.

    </p>
    <img src="./assets/images/automata.png" class="img-fluid mx-auto d-block my-2 rounded" alt="Responsive image">
	<div>
				The above figure shows following features of automata:
			</div>
	<ol>	
		<li>Input</li>
		<li>Output</li>
		<li>States of Automata</li>
		<li>State Relation</li>
		<li>Output Relation</li>
	</ol>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    
    <p class="lead">Q : Finite set of states.</p>
	  <p class="lead">Σ : Set of Input Symbols.</p>
	  <p class="lead">q : Initial state.</p>
	  <p class="lead">F : set of Final States.</p>
	<p class="lead">δ : Transition Function.</p>
  			<h1 class="display-7">
		Formal specification of machine is :-	</h1>
		<h4>
		{ Q, Σ, q, F, δ }.		
		</h4>


	</div>
	
</div>




<%- include("partials/footer") %>