<%- include("partials/header") %>
<div class="container-fluid">
	<h1 class="display-4 text-center py-3">
		Nondeterministic Finite Automata(NFA) 
	</h1>
	<p style="font-family: 'Raleway', sans-serif;font-weight:500;">
		NFA is similar to DFA except following additional features:
	</p>
	<ol>
		<li>Null (or ε) move is allowed i.e., it can move forward without reading symbols. 
</li>
		<li>Ability to transmit to any number of states for a particular input. </li>
	</ol>
	<p>
		However, these above features don’t add any power to NFA. If we compare both in terms of power, both are equivalent. 
	</p>
	<div class="jumbotron jumbotron-fluid py-4">
  			<div class="container">
				<h1 class="display-5">
				Due to above additional features, NFA has a different transition function, rest is same as DFA. 
				</h1>
	  			<p class="lead">δ: Transition Function</p>
				<p class="lead">δ:  Q X (Σ U ε ) --> 2 ^ Q. </p>
			  	
	</div>
</div>
	<p>
		As you can see in transition function is for any input including null (or ε), NFA can go to any state number of states. 
	</p>
	<p>
		For example, below is a NFA for above problem 
	</p>
	<img src="./assets/images/nfa.jpg" class="img-fluid mx-auto d-block my-2 py-2 rounded" alt="Responsive image">
	<p style="font-family: 'Raleway', sans-serif;font-weight:500;">
		One important thing to note is, <strong>
	 in NFA, if any path for an input string leads to a final state, then the input string accepted. 
	</strong>For example, in above NFA, there are multiple paths for input string “00”. Since, one of the paths leads to a final state, “00” is accepted by above NFA
	</p>
	<h2>
		Important Points :-
	</h2>
	<p style="font-family: 'Raleway', sans-serif;font-weight:500;">
		Since all the tuples in DFA and NFA are the same except for one of the tuples, which is Transition Function (δ) 
	</p>
	<div class="jumbotron jumbotron-fluid py-3">
		<div class="container container-fluid">
			<h3>
				In case of DFA :-
			</h3>
				<h5 class="pb-2">
				δ : Q X Σ --> Q	
			</h5>
			<h3>
		In case of NFA :-				
			</h3>
			<h5>
		δ : Q X Σ --> 2Q				
			</h5>

		</div>
	</div>
	<h5>
		Now if you observe you’ll find out Q X Σ –> Q is part of Q X Σ –> 2Q.
	</h5>
	<p style="font-family: 'Raleway', sans-serif;font-weight:500;">
		In the RHS side, Q is the subset of 2Q which indicates Q is contained in 2Q or Q is a part of 2Q, however, the reverse isn’t true. So mathematically, we can conclude that <strong>every DFA is NFA but not vice-versa</strong>. Yet there is a way to convert an NFA to DFA, so <strong>there exists an equivalent DFA for every NFA.</strong> 
	</p>
		
<%- include("partials/footer") %>